*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

p,h1,h2,h3,h4,h5,h6,span{
    color: #fff;
}

body{
    min-height: 100vh;
    background-color: #121313;
}

header{
    position: fixed;
    display: flex;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center; 
    transition: 0.6s;
    padding: 20px 100px;
    z-index: 9999;
}

header .logo{
    position: relative;
    font-weight: 700;
    color: #ffff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header.sticky{
    background-color: #fff;
    padding: 5px 100px;
}

header.sticky ul li a, header.sticky .logo
{
    color: #121313;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #ffff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}

.banner{
    margin: 100px 76px 80px 75px;
}

.banner .index-banner{
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #000;
}

.grid-cards{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p{
    margin-bottom: 15px;
    font-size: 15px;
}

.card .card-logo{
    max-width: 120px;
    max-height: 120px;
}

.card .card-logo:hover{
    opacity: 0.8;
    transition: 0.2s;
}

.page{
    margin: 150px;
}

footer > p {
    color: #fff;
    text-align: center;
}

.stats-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #fff;
    width: 50%;
    margin: auto;
    padding: 30px;
}

.stats-text{
    margin-bottom: 10px;
}

.profile-image{
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 30px;
    border-radius: 50%;
}

.question-cards{
    display: grid;
    max-width: 100%;
    margin-top: 75px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-column-gap: 20px;
}

.question-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #f5f5f5;
    border-radius: 10px;
}

.question-card > p,h2{
    font-size: 20px;
    color: #121313;
    margin: 20px 0px;
}

.question-card > img{
    width: 150px;
    border-radius: 50%;
    height: 150px;
}
